<ion-content [fullscreen]="true" class="login-content">
  <div class="login-wrapper">

    <img src="assets/logo-famasa.png" class="logo-login" alt="Logo" />

    <h2 class="titulo-login">Iniciar sesión</h2>

    <div class="field-item">
      <label class="field-label">RUT</label>
      <input
        class="native-input"
        [(ngModel)]="rut"
        (ngModelChange)="rut = formatearRut(rut)"
        type="text"
        autocomplete="off"
        autocorrect="off"
        spellcheck="false"
        [attr.inputmode]="esQ500 ? 'none' : 'text'"
        [attr.readonly]="esQ500 ? '' : null"
        (focus)="enableInput($event)"
        (keydown.enter)="login()">
    </div>

    <div class="field-item">
      <label class="field-label">Contraseña</label>
      <input
        class="native-input"
        [(ngModel)]="password"
        type="password"
        autocomplete="off"
        [attr.inputmode]="esQ500 ? 'none' : 'text'"
        [attr.readonly]="esQ500 ? '' : null"
        (focus)="enableInput($event)"
        (keydown.enter)="login()">
    </div>

    <ion-button
      expand="block"
      class="btn-login"
      [disabled]="cargando"
      (click)="login()">
      <ion-spinner *ngIf="cargando" name="crescent" slot="start"></ion-spinner>
      {{ cargando ? 'Ingresando...' : 'Entrar' }}
    </ion-button>

    <p class="device-id">
      Dispositivo: <strong>{{ deviceId || '—' }}</strong>
    </p>

  </div>
</ion-content>
